html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

body {
  background-color: $c-white;
  font-size: 19px;
  line-height: 1;
  color: $c-white;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  z-index: 999;
}

.section-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &.sashimi__inner {
    justify-content: initial;
    gap: 20px;

    @include r(576) {
      justify-content: center;
    }
  }

  @include r(992) {
    justify-content: center;
    padding-top: 26px;
  }
}

.section-title {
  padding: size(16, 8) 9px;
  font-size: size(19, 16);
  font-weight: 500;
  margin-bottom: size(40, 22);
  max-width: 1068px;
  background-color: #2c2525;
}

.simple-title {
  font-weight: 400;
  font-size: size(25, 16);
  color: $c-black;
  text-transform: uppercase;
  margin-bottom: size(28, 15);

  @include r(992) {
    font-weight: 700;
  }

  // @include r(576) {
  //   transform: translateX(-37%);
  // }
}

.section-offset {
  @include r(576) {
    padding-top: 26px;
  }
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 12px;

  @include r(1200) {
    grid-template-columns: repeat((3, 1fr));
  }

  @include r(768) {
    grid-template-columns: repeat((2, 1fr));
  }

  @include r(576) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 362px;
  }
}

.icon {
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &::before {
    content: '';
    min-width: 19px;
    height: 16px;
    background-color: #fff;
    mask-image: url(../images/sprite.svg#icon-home);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color .3s ease-in-out;
  }

  &--heart {
    &::before {
      mask-image: url(../images/sprite.svg#icon-heart);
    }
  }

  &--user {
    &::before {
      mask-image: url(../images/sprite.svg#icon-user);
    }
  }

  &--register {
    &::before {
      mask-image: url(../images/sprite.svg#icon-register);
    }
  }

  &--question {
    &::before {
      mask-image: url(../images/sprite.svg#icon-question);
    }
  }

  &--modal-close {
    &::before {
      mask-image: url(../images/sprite.svg#icon-modal-close);
    }
  }

  &--message {
    &::before {
      min-width: 26px;
      height: 26px;
      mask-image: url(../images/sprite.svg#icon-message);
    }
  }

  &--cart {
    &::before {
      min-width: 38px;
      height: 36px;
      mask-image: url(../images/sprite.svg#icon-cart);
    }
  }

  &--search {
    &::before {
      mask-image: url(../images/sprite.svg#icon-search);
    }
  }

  &--chevron-right {
    &::before {
      mask-image: url(../images/sprite.svg#icon-chevron-right);
      background-color: $c-black;
    }
  }

  &--chevron-left {
    &::before {
      mask-image: url(../images/sprite.svg#icon-chevron-left);
      background-color: $c-black;
    }
  }

  &--arrow-right {
    &::before {
      mask-image: url(../images/sprite.svg#icon-arrow-right);
    }
  }

  &--plus {
    &::before {
      mask-image: url(../images/sprite.svg#icon-plus);
    }
  }

  &--location {
    &::before {
      mask-image: url(../images/sprite.svg#icon-location);
    }
  }

  &--phone {
    &::before {
      mask-image: url(../images/sprite.svg#icon-phone);
    }
  }

  &--instagram {
    background-color: #d43377;

    &::before {
      mask-image: url(../images/sprite.svg#icon-instagram);
      background-color: #fff;
    }
  }

  &--facebook {
    background-color: #3b5998;

    &::before {
      mask-image: url(../images/sprite.svg#icon-facebook);
      background-color: #fff;
    }
  }
}

.alcohol-link {
  display: inline-block;
  padding: 0 18px 6px;
  background-color: #f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  color: $c-black;
  font-weight: 400;
  margin-bottom: 50px;
  transition: color .3s ease-in-out, opacity .2s ease-in-out;

  &:hover {
    color: $accent;

    .alcohol-link__img {
      opacity: .7;
    }
  }

  &__img {
    margin-bottom: 9px;
    transition: opacity .2s ease-in-out;
  }
}

.lock {
  overflow: hidden;
  position: relative;
  transition: background-color .3s ease-in-out;

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 21;
    background-color: rgba($c-white, .5);
    transition: background-color .3s ease-in-out;
  }
}

.social {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 999;
  display: flex;
  flex-direction: column;

  &__link {
    border-radius: 15px;
    width: 70px;
    height: 70px;

    @include r(1200) {
      display: none;
    }

    &::before {
      min-width: 64px;
      height: 64px;
    }

    &:hover {
      opacity: .9;
    }
  }
}

.burger {
  width: 25px;
  height: 18px;
  position: relative;
  color: #ffffff;
  cursor: pointer;

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
    display: block;
    border-radius: 5px;
  }

  &__text {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    border-radius: 5px;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - 4px);
  }

  &--active &__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }
}