.banners {
  margin-bottom: 69px;

  &__img {
    display: inline-block;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 405px;
    column-gap: size(20, 0);

    @include r(1200) {
      display: block;
    }
  }

  &__slider {
    height: fit-content;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 9;
    max-width: 945px;

    @include r(1200) {
      margin: 0 auto 15px;
    }

    @include r(992) {
      grid-column: 2 span;
    }
  }

  &__list {
    display: flex;
    max-height: 410px;
  }

  &__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $c-white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;

    &--prev {
      left: 25px;

      &::before {
        max-width: 20px;
        height: 20px;
      }
    }

    &--next {
      right: 41px;

      &::before {
        max-width: 20px;
        height: 20px;
      }
    }
  }

  &__item {
    position: relative;
    height: fit-content;
  }

  &__dots {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
  }

  &__dot {
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $c-white;
    outline: transparent;
    border: none;

    &--active {
      min-width: 15px;
      height: 15px;
      background-color: #ff0000;
    }
  }

  &__actions {
    @include r(992) {
      display: none;
    }
  }

}

.banners-mini {
  @include r(1200) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    max-width: fit-content;
    object-fit: contain;
    &:nth-child(1) {
      margin-bottom: size(50, 20);

      @include r(1200) {
        margin-bottom: 0;
      }
    }
  }

  @include r(992) {
    display: none;
  }
}