.banners {
  margin-bottom: 69px;
  &__img {
    display: inline-block;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 405px;
    column-gap: 20px;
  }

  &__slider {
    height: fit-content;
    overflow: hidden;
    display: flex;
    position: relative;
  }

  &__list {
    display: flex;
    max-height: 410px;
  }

  &__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $c-white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;

    &--prev {
      left: 25px;

      &::before {
        max-width: 20px;
        height: 20px;
      }
    }

    &--next {
      right: 25px;

      &::before {
        max-width: 20px;
        height: 20px;
      }
    }
  }

  &__item {
    position: relative;
    height: fit-content;
  }

  &__dots {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }

  &__dot {
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $c-white;
    outline: transparent;
    border: none;

    &--active {
      min-width: 21px;
      height: 21px;
      background-color: #ff0000;
    }
  }

}

.banners-mini__img {
  &:nth-child(1) {
    margin-bottom: 50px;
  }
}