.footer {
  background-color: #2c2525;

  &__top {
    background-color: $accent;
    padding: 20px 20px 25px 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    @include r(992) {
      flex-direction: column;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: size(16, 14);
    font-weight: 600;
    font-style: italic;

    @include r(375) {
      max-width: 353px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    background-color: $c-white;
    position: relative;

    @include r(768) {
      width: 100%;
      flex-direction: column;
      background-color: transparent;
    }
  }

  &__field {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $c-black;
    width: 75%;
    padding: 10px 14px;

    @include r(768) {
      width: 100%;
      margin-bottom: 20px;
    }

    &::placeholder {
      color: $c-black;
    }
  }

  &__btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $accent;
    padding: 9px 15px;
    font-size: 16px;
    font-weight: 500;

    @include r(768) {
      position: initial;
      display: block;
      width: 100%;
      background-color: #e2b167;
    }
  }

  &__content {
    padding: 23px 0 28px 33px;

    @include r(768) {
      padding: 33px 28px;
    }
  }

  &__list {
    display: grid;
    gap: size(25, 15);
    grid-template-columns: repeat(4, 1fr);

    @include r(1200) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(768) {
      display: block;
    }
  }

  &__item {
    .novelties-sidebar__link {
      color: $c-white;
    }

    .novelties-sidebar__item {
      padding: 10px 11px;
    }

    @include r(768) {
      padding-bottom: 26px;

      &.open {
        .footer__item-list {
          opacity: 1;
          overflow: visible;
          max-height: fit-content;
          padding-top: 32px;

          .novelties-sidebar__list {
            display: block;
          }
        }

        .footer__item-chevron {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__item-list {
    display: flex;
    flex-direction: column;
    padding-top: 32px;

    @include r(768) {
      max-height: 0;
      opacity: 0;
      padding: 0;
      overflow: hidden;
      will-change: max-height;
      box-sizing: content-box;
      transition: all .3s ease-in-out;

      .novelties-sidebar__list {
        display: none;
      }
    }
  }

  &__item-name {
    font-weight: 500;
    font-size: size(19, 16);
    white-space: nowrap;
    display: flex;
    line-height: 1.5;
    padding-bottom: 13px;
    padding-right: 60px;
    border-bottom: 1px solid #959494;
    pointer-events: none;

    @include r(768) {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: 0;
      pointer-events: all;
      cursor: pointer;
    }
  }

  &__item-chevron {
    display: none;

    @include r(768) {
      display: flex;
      transition: transform .3s ease-in-out;

      &::before {
        background-color: $c-white;
      }
    }
  }

  &__item-item {
    margin-left: 0;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &--time {
      font-weight: 400;
      font-size: 19px;
    }
  }

  &__item-link {
    font-family: 'Open Sans', sans-serif;
    font-size: size(19, 14);
    font-weight: 500;
    color: $c-white;
    text-decoration: none;
    white-space: nowrap;

    &.icon--location {
      &::before {
        min-width: 20px;
        height: 20px;
        background-color: $accent;
      }
    }
  }
}