.go-wok {
  background-color: #2c2525;
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 39px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background-color: $accent;
    padding: 12px 25px;
    border-radius: 7px;
    gap: 12px;
    color: $c-white;
    font-size: 36px;
    font-weight: 500;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &::before {
      min-width: 28px;
      height: 28px;
      order: 2;
    }

    &:hover {
      background-color: $c-white;
      color: $accent;

      &::before {
        background-color: $accent;
      }
    }
  }
}