.promotions {
  margin-bottom: size(67, 38);

  &__nav {
    max-width: 1068px;
  }

  &__tabs {
    @include r(768) {
      flex-direction: column;
      flex: 1;
    }
  }

  &__item {
    &--mobile {
      @include r(768) {
        border-bottom: 2px solid $c-white;
        background-color: $accent;
      }
    }
  }

  &__content {
    max-width: 1068px;
    position: relative;
  }

  &__actions {
    position: absolute;
    top: -65px;
    right: 0;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 17px 11px;

    @include r(768) {
      display: block;

      .product-nav__name {
        &:active{
          background-color: $accent;
        }
      }
    }
  }

  &__link.active {
    background-color: $accent;

    @include r(768) {
      pointer-events: none;
    }
  }
}