.about {
  margin-bottom: size(100, 0);

  @include r(992) {
    padding-top: 26px;
  }

  &__container {
    max-width: 1030px;
  }

  &__title {
    margin-bottom: size(73, 25);
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    color: $c-black;
    font-weight: 400;
    line-height: 1.4;

    &:last-child {
      max-width: 1030px;
    }

    span {
      font-weight: 600;
    }

    &--menu {
      max-width: 1025px;

      p:not(:last-child) {
        margin-bottom: size(60, 20);
      }
    }

    @include r(1200) {
      max-width: 800px;
    }
  }

  &__photos {
    display: flex;
    gap: size(20, 10);

    &--interior {
      padding: size(40, 15) 0 size(60, 20);
    }

    &--people {
      padding: size(60, 20) 0 size(50, 15);
      gap: size(40, 10);
    }

    &--center {
      padding: size(34, 15) 0 size(100, 20);
      justify-content: center;
    }

    @include r(992) {
      flex-direction: column;
    }
  }

  .product-categories {
    @include r(992) {
      display: none;
    }
  }
}