.business {
  color: $c-black;
  margin-bottom: 50px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: size(50, 20) size(19, 5);

    @include r(992) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(768) {
      display: flex;
      flex-direction: column;
    }
  }

  &__card {

    &-title {
      font-weight: 400;
      font-size: 19px;
      margin-bottom: size(15, 10);
      padding-left: 15px;
    }

    &-descr {
      padding-left: 15px;
      max-width: 361px;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &__head {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 245px;
    margin-bottom: size(15, 5);
    padding: 0;
  }
}