.delivery {
  margin-bottom: 36px;

  @include r(992) {
    padding-top: 26px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    color: $c-black;
    max-width: 800px;
  }

  &__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    span {
      font-weight: 650;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .product-categories {
    @include r(992) {
      display: none;
    }
  }
}