.log-in {
  color: $c-black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 45px;

  .section-inner {
    @include r(992) {
      justify-content: space-between;
      gap: 10px;
    }

    @include r(768) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {
    width: 100%;
  }

  &__form-group {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__label {
    margin-bottom: 19px;
    font-size: size(22, 18);
  }

  &__field {
    width: 100%;
        font-size: size(22, 18);
    padding: 12px 21px;
    border: 1px solid #d9d9d9;

    &::placeholder {
      color: $c-black;
    }
  }

  &__form-link {
    color: #ff0000;
    font-size: 19px;
    display: inline-block;
    padding-top: -18px;
    margin-bottom: 12px;

    &:hover {
      color: $c-black;
    }
  }
}

.log-in-box {
  max-width: size(591, 450);
  padding: 24px;
  flex-grow: 1;
  background-color: #f8f8f8;

  @include r(992) {
    max-width: size(450, 320);
  }

  &__span {
    display: block;
    width: 100%;
    height: size(69, 40);
    background-color: $c-white;
    margin-bottom: 9px;
  }

  &__name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: size(25, 22);
    margin-bottom: 45px;

    @include r(576) {
      font-size: size(22, 18);
    }
  }

  &__text {
    max-width: 546px;
    font-size: size(19, 16);
    margin-bottom: size(189, 80);
  }

  &__bottom {
    border-top: 1px solid #d9d9d9;
    padding-top: 19px;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $c-white;
    background-color: $accent;
    font-size: 19px;
    padding: 14px 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;

    &:hover {
      background-color: $c-white;
      color: $accent;
    }
  }
}