.wok {

  &__inner {
    justify-content: initial;
    gap: 34px;

    @include r(992) {
      justify-content: center;
    }
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $c-black;
    margin-bottom: 25px;
    font-size: size(19, 14);

    .accent {
      margin-top: 22px;
      display: inline-block;
      background-color: #ffe872;
    }
  }

  &__category {
    margin-bottom: 58px;

    &-title {
      padding: 14px 20px;
      font-weight: 500;
      font-size: size(20, 16);
      margin-bottom: 15px;
      background-color: $accent;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 236px);
    gap: 40px 20px;

    @include r(1200) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include r(576) {
      // grid-template-columns: repeat(3, 1fr);
      display: block;
    }
  }

  &__item {
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 18px 20px;
    min-height: size(286, 200);

    @include r(576) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: $c-black;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;

    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        min-width: 160px;
        height: 160px;
        position: absolute;
        top: 5%;
        left: 15%;
        z-index: 5;
        mask-repeat: no-repeat;
        mask-image: url(../images/sprite.svg#icon-cart);
        background-color: $c-white;
      }

      .wok-card__img {
        opacity: .5;
      }
    }

    &:hover {
      opacity: .5;

      .wok-card__img {

        transform: rotate(20deg) scale(1.2);
      }
    }
  }
}

.wok-card {
  justify-content: space-between;

  &__img {
    margin-bottom: 10px;
    transition: transform .3s ease-in-out;
  }

  &__head {
    overflow: hidden;
  }

  &__name,
  &__price {
    display: block;
    color: $c-black;
  }

  &__name {
    margin-bottom: 15px;
  }
}

.wok__cart {
  &-box {
    border: 1px solid #d9d9d9;
    padding: 22px size(25, 12);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-bottom: 77px;

    @include r(768) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    @include r(576) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-item {
    border: 1px solid $accent;
    padding: 14px size(40, 25);
    text-align: center;
    max-width: 245px;
    width: 100%;
    min-height: 324px;
    position: relative;

    @include r(768) {
      flex-grow: 1;
    }

    

    .wok-card {
      margin-bottom: 15px;
      cursor: pointer;
    }

    &:not(:last-child) {
      &::after {
        content: '+';
        font-size: 96px;
        color: $c-black;
        font-weight: 300;
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);

        @include r(1200) {
          content: none;
        }
      }
    }
  }

  &-text {
    color: $c-black;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 40px;
  }

  &-info {
    border-top: 1px solid #d9d9d9;
    padding-top: 18px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: $c-black;
    align-items: center;
  }

  &-price {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: size(32, 24);
    font-weight: 400;
    margin-right: 24px;

    @include r(576) {
      margin-right: 0;
    }
  }

  &-field {
    width: 70px;
    padding: 5px;
    border: 1px solid #d9d9d9;
    text-align: center;
  }

  &-link {
    background-color: $accent;
    padding: 3px 5px;
    color: $c-white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
  }
}